#hiddenNavbar {
  width: 600px;
  height: 60vh;
  max-height: 800px;
  min-height: 580px;
  background-image: url(../../img/menu_long.svg);
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  -webkit-transition: height 0.5s, min-height 0.5s;
  transition: height 0.5s, min-height 0.5s;
  overflow: hidden;
  transition: all 3s;
  position: absolute;
}
.hiddenNavbarContent {
  position: absolute;
  background-color: white;
}
