#hidden {
  width: 600px;
  height: 70vh;
  max-height: 800px;
  min-height: 600px;
  margin: auto;
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, 0px);
  z-index: 20;
  transition: all ease-in 0.5s;
}

#hiddenNavbarContent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#hiddenNavbarContentlist {
  /* border: 1px solid white; */
  width: 80%;
  /* margin: auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 15px;
  font-weight: 600;
  max-height: 50%;
}

#hiddenNavbarContentlist > a {
  padding: 10px;
}
#hiddenNavbarContentlist > a:hover {
  background-color: white;
  color: #011d34;
}

.scrolledNavbar {
  box-shadow: 0px 5px 10px rgb(0 0 0 / 30%);
  height: 80px;
  background: #011d34;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  /* height: 120px; */
  z-index: 9;
  transition-duration: 0.2s;
}

/* #scrolledNavbarheader {
  width: 40px;
  height: 40px;
}
#logoSizeReduceLogo {
  width: 40px;
  height: 40px;
} */

#logoSizeReduce1 {
  transition: all ease-in-out 0.3s;
  animation: fadeIn 5s;
  width: 80%;
  height: 80px;
}

#logoSizeReduce3 {
  /* transition: all ease-in-out 0.5s; */
  animation: fadeIn 2s;
}

#logoSizeReduce2 {
  width: 80%;
  transition: all ease-in-out 1s;
}

.hiddenNavbarLogo {
  width: 100px;
  height: 100px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
