@charset "UTF-8";
/**
 * Copyright ©2018 GravitiChain. All rights reserved. Code contained within or this file cannot be copied, modified and / or distributed without the express written permission. Unauthorized copying or use of this file, via any medium is strictly prohibited.
 * @version 1.0
 * @author Geoff Butler, Damian Kisielewski, Chris Bastin, Saydur Rahman
 */
@import url("https://fonts.googleapis.com/css?family=Exo:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,300,400,500,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input {
  font-size: 16px;
}

a,
a:visited,
a:hover,
a:active {
  color: unset;
  text-decoration: none;
}

.wrap {
  width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

body,
button {
  font-family: "Roboto", sans-serif;
}

p,
span,
input {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Exo", sans-serif;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-weight: 400 !important;
  font-size: 11pt;
  color: #e61f5f;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

h4 {
  color: #e61f5f;
  font-size: 18pt;
  margin-bottom: 5px;
}
/* added */
body {
  background: #011d34;
  /* background: url("./img/homeback.png"); */
  color: white;
  /* background-repeat: none;
  background-size: cover;
  background-position: c; */
}

main {
  z-index: 1;
  width: 100vw;
  background: #011d34;
  margin: 0 auto;
}

section {
  position: relative;
  width: 100vw;
  border: 1px solid rgba(128, 128, 128, 0);
}

button {
  color: white;
}

.CaseStudyButton {
  padding: 10px 30px;
  border: 2px solid #fff;
  border-radius: 100px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.CaseStudyButton img {
  height: 26px;
  vertical-align: -7px;
  margin-right: 7px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.CaseStudyButton:hover,
.CaseStudyButton:focus {
  background: rgba(255, 255, 255, 0.2);
}
.CaseStudyButton:hover img,
.CaseStudyButton:focus img {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

.anchor {
  margin-top: -100px;
  position: absolute;
  pointer-events: none;
}

.Site__container {
  overflow: hidden;
  position: relative;
}

.Site__bg {
  height: 100%;
  width: 100%;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.Site__bg div > div {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.Site__bg__hero {
  width: 100%;
  max-width: 1450px;
  left: 0;
  right: 0;
  margin: auto;
  height: 1400px;
  position: relative;
}
.Site__bg__hero__cubes {
  width: 700px;
  height: 900px;
  background: url("./img/bg_cubes.png");
}
.Site__bg__hero__cubes:nth-of-type(1) {
  left: -250px;
  top: -100px;
}
.Site__bg__hero__cubes:nth-of-type(2) {
  left: 150px;
  top: 100px;
}
.Site__bg__hero__dots {
  width: 500px;
  height: 500px;
  background: url("./img/bg_dots_large.png");
  background-size: auto !important;
  left: -400px;
  top: 200px;
}
.Site__bg__blue {
  width: 100%;
  height: 100%;
  max-width: 1450px;
  left: 0;
  left: 0;
  right: 0;
  position: relative;
  margin: auto;
}
.Site__bg__blue__container {
  height: 2800px;
  width: 100%;
  left: 0;
  right: 0;
  position: relative;
  margin: auto;
  background: #062a44;
}
.Site__bg__blue__swirl {
  height: 2850px;
  width: 1200px;
  background-image: url("./img/bg_swirl_1.png");
}
.Site__bg__blue__swirl:nth-of-type(1) {
  right: -600px;
  top: -0px;
}
.Site__bg__blue__swirl:nth-of-type(2) {
  left: -600px;
  top: 2200px;
  background-image: url("./img/bg_swirl_3.png");
  z-index: 1;
}
.Site__bg__blue__pink {
  width: 320px;
  height: 380px;
  background: url("./img/bg_single_pink_cube.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.Site__bg__blue__pink:nth-of-type(3) {
  left: 250px;
  top: 800px;
}
.Site__bg__blue__pink:nth-of-type(4) {
  right: 230px;
  top: 800px;
}
.Site__bg__blue__pink:nth-of-type(5) {
  right: 230px;
  top: 1360px;
}
.Site__bg__blue__pink:nth-of-type(6) {
  left: 250px;
  top: 1360px;
}
.Site__bg__blue__dots {
  width: 500px;
  height: 500px;
  background: url("./img/bg_dots_large.png");
  background-size: auto !important;
  right: -300px;
  top: 1600px;
}
.Site__bg__blue__name {
  width: 12px;
  height: 128px;
  background: url("./img/bg_grav_side.png");
  right: 0px;
  top: 2100px;
}
.Site__bg__blue__end {
  bottom: -160px;
  left: -120px;
  width: 250px;
  height: 250px;
  background: #011d34;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 12px;
  z-index: 0;
}
.Site__bg__bottom {
  width: 100%;
  max-width: 1450px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  position: relative;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.Site__bg__bottom__pink {
  height: 1000px;
  width: 450px;
}
.Site__bg__bottom__pink:nth-of-type(1) {
  background-image: url("./img/bg_cubes_pink.png");
  top: 1000px;
  left: -300px;
}
.Site__bg__bottom__pink:nth-of-type(2) {
  background-image: url("./img/bg_cubes_pink_2.png");
  top: 2000px;
  right: -300px;
}
.Site__bg__bottom__name {
  width: 12px;
  height: 128px;
  background: url("./img/bg_grav_side.png");
  left: 0px;
  top: 1700px;
}
.Site__bg__bottom__dots {
  width: 500px;
  height: 500px;
  background: url("./img/bg_dots_large.png");
  background-size: auto !important;
  right: -300px;
  top: 1200px;
}
.Site__bg__bottom__swirl {
  height: 2850px;
  width: 1200px;
  top: 2200px;
  left: -300px;
  background-image: url("./img/bg_swirl_2.png");
  opacity: 0.3;
}
.Site__bg__portfolio {
  width: 100%;
  height: 100%;
  max-width: 1450px;
  left: 0;
  right: 0;
  position: relative;
  margin: auto;
}
.Site__bg__portfolio__swirl {
  height: 2850px;
  width: 1200px;
  background-image: url("./img/bg_swirl_1.png");
}
.Site__bg__portfolio__swirl:nth-of-type(1) {
  right: -600px;
  top: -0px;
}
.Site__bg__portfolio__pink {
  height: 1000px;
  width: 450px;
}
.Site__bg__portfolio__pink:nth-of-type(2) {
  background-image: url("./img/bg_cubes_pink.png");
  top: 100px;
  left: -300px;
}

@media screen and (max-width: 1270px) {
  .Site__container {
    overflow: hidden;
    position: relative;
  }
  .Site__bg__blue__swirl {
    height: 2850px;
    width: 1200px;
    background-image: url("./img/bg_swirl_1.png");
  }
  .Site__bg__blue__swirl:nth-of-type(1) {
    right: -800px;
    top: -0px;
  }
  .Site__bg__blue__swirl:nth-of-type(2) {
    left: -800px;
    top: 2200px;
    background-image: url("./img/bg_swirl_3.png");
    z-index: 1;
  }
  .Site__bg__bottom__swirl {
    height: 2850px;
    width: 1200px;
    top: 2200px;
    right: -400px;
    left: unset;
    background-image: url("./img/bg_swirl_3.png");
    opacity: 0.5;
  }
}

@media screen and (max-width: 950px) {
  .Site__bg__hero {
    width: 100%;
    max-width: 1450px;
    left: 0;
    right: 0;
    margin: auto;
    height: 1500px;
    position: relative;
  }
  .Site__bg__blue__pink:nth-of-type(3) {
    left: -200px;
    top: 800px;
  }
  .Site__bg__blue__pink:nth-of-type(4) {
    right: -200px;
    top: 800px;
  }
  .Site__bg__blue__pink:nth-of-type(5) {
    right: -200px;
    top: 1360px;
  }
  .Site__bg__blue__pink:nth-of-type(6) {
    left: -200px;
    top: 1360px;
  }
}

.button {
  margin: 0;
  display: inline-block;
  width: auto;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.button--intouch {
  background: #e61f5f;
  border: none;
  color: white;
  padding: 0 1em;
}
.button--intouch:hover {
  background: none;
  border: 1px solid white;
  color: white;
}
.button--bordered {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 0 1em;
}
.button--bordered:hover {
  background: #ffffff;
  color: #e61f5f;
}
.button--transparent {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: white;
  font-weight: 700;
  padding: 0 2em;
  height: 3em;
  font-size: 1.5em;
  line-height: 68px;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
}
.button--transparent:hover,
.button--transparent:focus {
  color: white;
  background: #e61f5f;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
}
.socials__item {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2.5rem;
  height: 2.5rem;
  margin: 5px;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.socials__item--facebook {
  background: #3b5998;
}
.socials__item--twitter {
  background: #1da1f2;
}
.socials__item--skype {
  background: #00aff0;
}
.socials__item--linkedin {
  background: #0077b5;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__item:first-child {
  margin-left: 0;
}

.section {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.section__header {
  text-align: center;
}
.section__header h3 {
  color: #e61f5f;
  margin: 10vh 0 0 0;
}

.browser {
  background: white;
  margin: 0 auto;
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  position: relative;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.137);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.137);
}
.browser:before {
  z-index: 5;
  display: block;
  position: absolute;
  content: "";
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  -webkit-box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}
.browser--extrabar {
  background: #e2e2e2;
  height: 1.5em;
  position: absolute;
  top: -3.5em;
  left: 5%;
  right: 5%;
  border-radius: 3px 3px 0 0;
}
.browser--extrabar:after {
  opacity: 0.8;
  content: " ";
  z-index: 5;
  display: block;
  position: absolute;
  top: 0.75em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  -webkit-box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}
.browser__screen {
  position: relative;
  overflow: auto;
  height: 100%;
  width: 100%;
}
.browser__screen img {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .browser {
    border-top: 1.5em solid rgba(230, 230, 230, 0.7);
  }
  .browser--extrabar {
    height: 1em;
    top: -2.5em;
    overflow: hidden;
  }
  .browser--extrabar:after {
    width: 0.25em;
    height: 0.25em;
    -webkit-box-shadow: 0 0 0 2px #f44, 1em 0 0 2px #9b3, 2em 0 0 2px #fb5;
    box-shadow: 0 0 0 2px #f44, 1em 0 0 2px #9b3, 2em 0 0 2px #fb5;
  }
  .browser:before {
    width: 0.25em;
    height: 0.25em;
    top: -0.85em;
    -webkit-box-shadow: 0 0 0 2px #f44, 1em 0 0 2px #9b3, 2em 0 0 2px #fb5;
    box-shadow: 0 0 0 2px #f44, 1em 0 0 2px #9b3, 2em 0 0 2px #fb5;
  }
}

.technology {
  position: relative;
  min-width: 150px;
  min-height: 150px;
  margin: 1em;
  border: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.technology:hover {
  background: #f3f3f3;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.technology__title {
  position: absolute;
  bottom: 10px;
  color: #a8a8a8;
}
.technology__description {
  visibility: hidden;
  background: white;
  padding: 2em;
  width: 300px;
  border: 1px solid #eaeaea;
  z-index: 1;
}
.technology__description:hover {
  visibility: visible;
}
.technology__description h5 {
  font-size: 1em;
  color: #444444;
  line-height: 2em;
}
.technology__description p {
  font-size: 0.8em !important;
  line-height: 20px !important;
}
.technology__description a {
  color: #11114d;
  font-weight: 700;
  font-size: 0.75em;
}
.technology__description a:hover {
  color: #11114d;
  text-decoration: underline;
}
.technology:hover + .technology__description {
  visibility: initial;
}
.technology__logo {
  max-width: 40%;
  max-height: 40%;
}
.technology__logo--wide {
  max-width: 70%;
}

.project {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100wh;
  padding: 8em 0;
  z-index: 2;
}
.project .browser {
  max-height: 540px;
  height: 60vw;
  max-width: 960px;
  width: 95vw;
}
.project .browser--noScroll {
  height: auto;
  max-height: unset;
  overflow: visible;
}
.project__description {
  position: relative;
  max-width: 1200px;
  width: 95vw;
  background: white;
  height: auto;
  margin: 0 auto;
  padding: 0 0 4em 0;
  border: unset;
  z-index: 1;
}
.project__descriptionBar {
  position: absolute;
  bottom: 100%;
  right: 0;
  left: 0;
  height: 10vw;
  max-height: 100px;
  border: none;
  background: #e61f5f;
  border-radius: 5px 5px 0 0;
}
.project__description:after {
  content: " ";
  position: absolute;
  bottom: -1em;
  left: 5%;
  right: 5%;
  height: 1em;
  background: white;
  -webkit-box-shadow: inset 0 5px 5px #b4b4b4;
  box-shadow: inset 0 5px 5px #b4b4b4;
}
.project__description:before {
  content: " ";
  position: absolute;
  bottom: -2em;
  left: 10%;
  right: 10%;
  height: 1em;
  background: #e61f5f;
  -webkit-box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.4);
}
.project__description .wrap {
  padding: 3em 10vw;
}
.project__description .backgroundDotted {
  position: relative;
  background: #f3f3f3;
  overflow: hidden;
}
.project__description .backgroundDotted:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  background: url(./img/bg_dots@2x.png) no-repeat;
  opacity: 0.3;
}
.project__description .bold {
  color: #191b3f;
}
.project__description p {
  color: #858585;
  line-height: 34px;
  font-size: 16pt;
  font-weight: 300;
  margin-bottom: 30px;
}
.project__description h3 {
  color: #e61f5f;
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.project__technologiesWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 3em 10vw;
}
.project__title {
  margin: 0 0 5em 0;
  width: auto;
  text-align: center;
}
.project__title h2 {
  margin: 0.2em 0 0 0;
  font-size: 5em;
  letter-spacing: 0.05em;
  padding: 0 2em;
}
.project__title h3 {
  padding: 0 2em;
  font-weight: 200;
  letter-spacing: 0.2em;
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 1em 0 0 0;
}
.project__callToAction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  min-height: 300px;
  height: 50vh;
}
.project__callToAction .wrap {
  text-align: center;
  z-index: 1;
}
.project__callToAction:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(./img/old/asciilogo@2x.png) no-repeat;
  background-position: center center;
  opacity: 0.06;
}
.project__callToAction h2 {
  font-weight: 200;
  font-size: 4em;
  margin: 0 0 1em 0;
}

@media screen and (max-width: 1000px) {
  .project .browser {
    max-height: 540px;
    height: 60vw;
    max-width: 960px;
    width: 80vw;
  }
  .project__title {
    margin: 0 0 20vw 0;
  }
  .project__title h2 {
    font-size: 3em;
    padding: 0 1em;
  }
  .project__title h3 {
    font-size: 1em;
    padding: 0 1em;
  }
  .project__callToAction h2 {
    font-size: 2em;
    padding: 0 2em;
  }
}

@media screen and (max-width: 540px) {
  .project__description {
    width: 100vw;
  }
  .project__description.wrap {
    padding: 10vw 2.5vw;
  }
  .project__technologiesWrap {
    padding: 15vw 0 0 0;
  }
  .project .browser {
    max-height: 540px;
    height: 60vw;
    max-width: 960px;
    width: 95vw;
  }
  .project__title h2 {
    font-size: 2em;
  }
  .project__title h3 {
    font-size: 0.8em;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input {
  font-size: 16px;
}

a,
a:visited,
a:hover,
a:active {
  color: unset;
  text-decoration: none;
}

.wrap {
  width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

body,
button {
  font-family: "Roboto", sans-serif;
}

p,
span,
input {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Exo", sans-serif;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-weight: 400 !important;
  font-size: 11pt;
  color: #e61f5f;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

h4 {
  color: #e61f5f;
  font-size: 18pt;
  margin-bottom: 5px;
}

.Hero__container {
  height: 800px;
  width: 100%;
  position: relative;
}

.Hero__title {
  text-align: center;
  margin-top: 300px;
}
.Hero__title h3 {
  color: #e61f5f;
  letter-spacing: 5px;
}
.Hero__title h1 {
  margin-bottom: 40px;
}
.Hero__title p {
  font-size: 11pt;
  font-weight: 200;
}
.Hero__title button {
  margin-top: 80px;
  color: #e61f5f;
  font-size: 75px;
  line-height: 100px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.Hero__title button div {
  width: 100px;
  height: 100px;
  background-image: url("./img/cube-stroke.svg");
  background-size: 100%;
  background-position: center;
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
}
.Hero__title button:hover {
  color: #fff;
}
.Hero__title button:hover div {
  background-size: 110%;
}

.Hero__social {
  height: 200px;
  width: 75px;
  position: absolute;
  right: 50px;
  top: 400px;
}
.Hero__social img {
  width: 50px;
  height: 50px;
  padding: 13px;
  background-image: url("./img/cube-stroke-white.svg");
  background-position: center;
  background-size: 110%;
  opacity: 0.5;
}
.Hero__social img:hover {
  opacity: 1;
}

@media screen and (max-width: 450px) {
  .Hero__title {
    text-align: center;
    margin-top: 300px;
  }
  .Hero__title h3 {
    color: #e61f5f;
    letter-spacing: 5px;
  }
  .Hero__title h1 {
    margin-bottom: 40px;
    font-size: 32pt;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input {
  font-size: 16px;
}

a,
a:visited,
a:hover,
a:active {
  color: unset;
  text-decoration: none;
}

.wrap {
  width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

body,
button {
  font-family: "Roboto", sans-serif;
}

p,
span,
input {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Exo", sans-serif;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-weight: 400 !important;
  font-size: 11pt;
  color: #e61f5f;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

h4 {
  color: #e61f5f;
  font-size: 18pt;
  margin-bottom: 5px;
}

.Header__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  height: 120px;
  z-index: 9;
  background: none;
  -webkit-transition-property: height, background, -webkit-box-shadow;
  transition-property: height, background, -webkit-box-shadow;
  transition-property: box-shadow, height, background;
  transition-property: box-shadow, height, background, -webkit-box-shadow;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.Header__container img {
  max-height: 100px;
  -webkit-transition-property: max-height, height, top, background-size;
  transition-property: max-height, height, top, background-size;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.Header__container.--float {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  height: 80px;
  background: #011d34;
}
.Header__container.--float img {
  max-height: 60px;
}
.Header__container.--float .Header__hamburger {
  top: 20px;
}
.Header__container.--float .Header__hamburger img {
  height: 40px;
  background-size: 40px 90px;
}
.Header__container.--float .Header__hamburger a:hover img,
.Header__container.--float .Header__hamburgera:focus img {
  background-position-x: 15px;
}
.Header__container.--float .Header__logo a:hover img,
.Header__container.--float .Header__logoa:focus img {
  background-size: 75px;
}

.Header__menu__container {
  width: 600px;
  height: 70vh;
  max-height: 800px;
  min-height: 600px;
  background-image: url("./img/menu_long.svg");
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  -webkit-transition: height 0.5s, min-height 0.5s;
  transition: height 0.5s, min-height 0.5s;
  overflow: hidden;
}
.Header__menu__container.--closed {
  height: 0px;
  min-height: 0px;
}
.Header__menu__container a {
  cursor: pointer;
}
.Header__menu__container a img {
  left: 0;
  right: 0;
  margin: auto;
  top: 10px;
  position: absolute;
}
.Header__menu__container ul {
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  width: auto;
}
.Header__menu__container ul li {
  font-size: 24pt;
  cursor: pointer;
}
.Header__menu__container ul li a {
  display: block;
  padding: 15px 0px;
}
.Header__menu__container ul li:hover,
.Header__menu__container ul li:focus {
  background: #fff;
  color: #062a44;
}

.Header__menu__close {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  width: 40px;
  height: 40px;
  margin: auto;
  background-image: url("./img/cross.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.Header__menu__close:hover,
.Header__menu__close:focus {
  background-size: 110%;
}

.Header__hamburger {
  position: absolute;
  left: 50px;
  cursor: pointer;
  width: unset;
  width: 50px;
  top: 25px;
  -webkit-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Header__hamburger a:hover img,
.Header__hamburgera:focus img {
  background-position-x: 20px;
}
.Header__hamburger img {
  height: 50px;
  background-image: url("./img/hamburger.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 50px 90px;
  -webkit-transition-property: max-height, height, top, background-size,
    background-position-x;
  transition-property: max-height, height, top, background-size,
    background-position-x;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.Header__logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  margin: auto;
  cursor: pointer;
  width: 100px;
  -webkit-transition-property: max-height, height;
  transition-property: max-height, height;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* .Header__logo a:hover img,
.Header__logoa:focus img {
  background-size: 120px;
} */
.Header__logo img {
  background-image: url("./img/cube-solid-white.svg");
  background-position: center 45%;
  background-size: 0px;
  background-repeat: no-repeat;
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  -webkit-transition-property: max-height, height, background-size;
  transition-property: max-height, height, background-size;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

@media screen and (max-width: 600px) {
  .Header__menu__container {
    width: 100vw;
    height: 90vh;
    max-height: 90vh;
    min-height: 300px;
  }
  .Header__menu__container.--closed {
    height: 0px;
    min-height: 0px;
  }
}

@media screen and (max-width: 375px) {
  .Header__menu__container ul {
    margin-top: 30vw;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    width: auto;
  }
  .Header__menu__container ul li {
    font-size: 8vw;
    cursor: pointer;
  }
  .Header__menu__container ul li a {
    display: block;
    padding: 15px 0px;
  }
  .Header__menu__container ul li:hover,
  .Header__menu__container ul li:focus {
    background: #fff;
    color: #062a44;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input {
  font-size: 16px;
}

a,
a:visited,
a:hover,
a:active {
  color: unset;
  text-decoration: none;
}

.wrap {
  width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

body,
button {
  font-family: "Roboto", sans-serif;
}

p,
span,
input {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Exo", sans-serif;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-weight: 400 !important;
  font-size: 11pt;
  color: #e61f5f;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

h4 {
  color: #e61f5f;
  font-size: 18pt;
  margin-bottom: 5px;
}

.Dev__container {
  height: 700px;
}

.Dev__bg {
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.Dev__bg:after {
  content: "";
  width: 100%;
  height: 100px;
  background: #e61f5f;
  top: -50px;
  left: 0;
  right: 0;
  position: absolute;
}

.Dev__content {
  width: 80%;
  height: 100%;
  max-width: 1450px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
}
.Dev__content__innerbox {
  width: 100%;
  height: 100%;
  position: relative;
}
.Dev__content__innerbox__bg {
  width: 90%;
  height: 80%;
  position: absolute;
  background: #062a44;
  border-radius: 15px;
  left: 0;
}
.Dev__content__innerbox__left {
  padding: 100px;
  padding-right: 50px;
  width: 44%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.Dev__content__innerbox__left h3 {
  color: #e61f5f;
  letter-spacing: 5px;
  margin-bottom: 5px;
}
.Dev__content__innerbox__left h2 {
  margin-bottom: 50px;
  position: relative;
}
.Dev__content__innerbox__left h2:after {
  content: "";
  width: 150px;
  height: 3px;
  background: #e61f5f;
  position: absolute;
  bottom: -30px;
  left: 0;
}
.Dev__content__innerbox__left p {
  font-size: 11pt;
  line-height: 26px;
  font-weight: 200;
}
.Dev__content__innerbox__right {
  width: 55%;
  height: 100%;
  background: url("./img/dev_image.png");
  background-position: 50% 30%;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
}
.Dev__content__innerbox__right button {
  position: absolute;
  bottom: 15%;
  right: 30%;
}

@media screen and (max-width: 950px) {
  .Dev__container {
    height: 900px;
  }
  .Dev__bg {
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .Dev__bg:after {
    content: "";
    width: 100%;
    height: 100px;
    background: #e61f5f;
    top: -50px;
    left: 0;
    right: 0;
    position: absolute;
  }
  .Dev__content {
    width: 90%;
  }
  .Dev__content__innerbox {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .Dev__content__innerbox__bg {
    width: 100%;
  }
  .Dev__content__innerbox__left {
    padding: 20px;
    padding-right: 20px;
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
  }
  .Dev__content__innerbox__left h2:after {
    content: "";
    right: 0;
    margin: auto;
  }
  .Dev__content__innerbox__right {
    width: 100%;
    height: 600px;
    background: url("./img/dev_image.png");
    background-position: center top;
    background-size: 80%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
  }
  .Dev__content__innerbox__right button {
    position: absolute;
    bottom: 15%;
    right: 30%;
  }
}

@media screen and (max-width: 660px) {
  .Dev__container {
    height: 700px;
  }
  .Dev__content__innerbox__right button {
    display: none;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input {
  font-size: 16px;
}

a,
a:visited,
a:hover,
a:active {
  color: unset;
  text-decoration: none;
}

.wrap {
  width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

body,
button {
  font-family: "Roboto", sans-serif;
}

p,
span,
input {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Exo", sans-serif;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-weight: 400 !important;
  font-size: 11pt;
  color: #e61f5f;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

h4 {
  color: #e61f5f;
  font-size: 18pt;
  margin-bottom: 5px;
}

.Services__container {
  height: 1600px;
  position: relative;
}

.Services__title {
  text-align: center;
  position: relative;
  margin-bottom: 90px;
}
.Services__title h3 {
  color: #e61f5f;
  letter-spacing: 5px;
  margin-bottom: 5px;
}
.Services__title h3:after {
  content: "";
  width: 150px;
  height: 3px;
  background: #e61f5f;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: auto;
}

.Services__row {
  height: 470px;
  width: auto;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  text-align: center;
}

.Services__row.--single .Services__service {
  display: inline-block;
}

.Services__row.--multiple .Services__service {
  display: inline-block;
}

.Services__service {
  vertical-align: top;
  left: 0;
  right: 0;
  margin: auto;
  width: 420px;
  height: 450px;
  background: url("./img/cube-solid-blue.svg");
  background-size: 125%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 100px;
  position: relative;
}
.Services__service img {
  width: 50px;
  margin-bottom: 10px;
}
.Services__service h3 {
  color: #e61f5f;
  margin-bottom: 10px;
}
.Services__service p {
  font-size: 12pt;
  line-height: 18px;
}
.Services__service p:first-of-type {
  margin-bottom: 10px;
}
.Services__service p:last-of-type {
  font-weight: 100;
}
.Services__service__line {
  width: 40%;
  height: 2px;
  background: #e61f5f;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 10px;
}
.Services__service button {
  height: 60px;
  width: 60px;
  background: url("./img/cube-solid.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 70px;
  margin: auto;
  line-height: 40px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.Services__service button img {
  height: 20px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.Services__service button:hover,
.Services__service button:focus {
  background-size: 110%;
}
.Services__service button:hover img,
.Services__service button:focus img {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

@media screen and (max-width: 1270px) {
  .Services__container {
    height: 2270px;
  }
  .Services__row {
    height: 470px;
    width: auto;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
    text-align: center;
  }
  .Services__row.--multiple {
    height: 940px;
  }
  .Services__row.--single .Services__service {
    display: block;
  }
  .Services__row.--multiple .Services__service {
    display: inline-block;
  }
}

@media screen and (max-width: 850px) {
  .Services__container {
    height: 2600px;
  }
  .Services__row {
    height: 450px;
    width: auto;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
    text-align: center;
  }
  .Services__row.--multiple {
    height: 1350px;
  }
  .Services__row.--single .Services__service {
    display: block;
  }
  .Services__row.--multiple .Services__service {
    display: block;
  }
  .Services__service {
    vertical-align: top;
    left: 0;
    right: 0;
    margin: auto;
    width: 420px;
    height: 450px;
    background: url("./img/cube_gradient_2.png");
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px;
    position: relative;
  }
}

@media screen and (max-width: 450px) {
  .Services__container {
    height: auto;
    margin-bottom: 100px;
  }
  .Services__row {
    height: 100vw;
    width: auto;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
    text-align: center;
  }
  .Services__row.--multiple {
    height: 300vw;
  }
  .Services__service {
    vertical-align: top;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100vw;
    background: url("./img/cube_gradient_2.png");
    background-size: 88%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 18vw;
  }
}

@media screen and (max-width: 450px) {
  .Services__container {
    height: auto;
  }
  .Services__container p {
    font-size: 0.87em;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input {
  font-size: 16px;
}

a,
a:visited,
a:hover,
a:active {
  color: unset;
  text-decoration: none;
}

.wrap {
  width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

body,
button {
  font-family: "Roboto", sans-serif;
}

p,
span,
input {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Exo", sans-serif;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-weight: 400 !important;
  font-size: 11pt;
  color: #e61f5f;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

h4 {
  color: #e61f5f;
  font-size: 18pt;
  margin-bottom: 5px;
}

.Portfolio__container {
  height: 1000px;
  position: relative;
  z-index: 2;
}

.Portfolio__content {
  width: 90%;
  height: 100%;
  max-width: 1450px;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
}
.Portfolio__content__left {
  width: 510px;
  height: 100%;
  position: relative;
  float: left;
}
.Portfolio__content__left__phone {
  width: 100%;
  height: 940px;
  position: relative;
}
.Portfolio__content__left__phone:after {
  content: "";
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url("./img/phone_frame.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.Portfolio__content__left__phone__content {
  width: 364px;
  height: 610px;
  position: absolute;
  left: 72px;
  top: 113px;
  background: #000;
}
.Portfolio__content__left__phone__content img {
  width: 364px;
  height: 610px;
}
.Portfolio__content__right {
  width: 45%;
  height: 100%;
  position: relative;
  float: left;
  padding: 50px;
}
.Portfolio__content__right h3 {
  color: #e61f5f;
  letter-spacing: 5px;
  margin-bottom: 5px;
}
.Portfolio__content__right h2 {
  position: relative;
  margin-bottom: 50px;
}
.Portfolio__content__right h2:after {
  content: "";
  width: 20%;
  height: 3px;
  background: #e61f5f;
  position: absolute;
  bottom: -30px;
  left: 0;
}
.Portfolio__content__right p {
  width: 70%;
  line-height: 22px;
}
.Portfolio__content__right .CaseStudyButton {
  position: absolute;
  bottom: 600px;
  width: 240px;
}
.Portfolio__content__right .CaseStudyButton:last-of-type {
  bottom: 520px;
}
.Portfolio__content__right__next,
.Portfolio__content__right__prev {
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  background: url("./img/cube-solid-blue.svg");
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.Portfolio__content__right__next img,
.Portfolio__content__right__prev img {
  height: 40px;
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}
.Portfolio__content__right__next:hover,
.Portfolio__content__right__next:focus,
.Portfolio__content__right__prev:hover,
.Portfolio__content__right__prev:focus {
  background-size: 110%;
}
.Portfolio__content__right__next:hover img,
.Portfolio__content__right__next:focus img,
.Portfolio__content__right__prev:hover img,
.Portfolio__content__right__prev:focus img {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}
.Portfolio__content__right__prev img {
  -webkit-transform: translateX(-4px) rotate(180deg);
  transform: translateX(-4px) rotate(180deg);
}
.Portfolio__content__right__prev:hover img,
.Portfolio__content__right__prev:focus img {
  -webkit-transform: translateX(-10px) rotate(180deg);
  transform: translateX(-10px) rotate(180deg);
}

@media screen and (max-width: 1060px) {
  .Portfolio__container {
    height: 1000px;
  }
  .Portfolio__content {
    width: 95%;
    position: relative;
  }
  .Portfolio__content__right {
    width: 350px;
    padding: 50px 0px;
  }
}

@media screen and (max-width: 910px) {
  .Portfolio__container {
    height: 1000px;
  }
  .Portfolio__content {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .Portfolio__content__left {
    width: 510px;
    height: 100%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    float: none;
  }
  .Portfolio__content__right {
    width: 70%;
    height: 400px;
    position: absolute;
    float: none;
    padding: 1vw;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 30px;
    background: url("./img/gradient.png");
    background-position: top;
    border-radius: 22px;
    text-align: center;
  }
  .Portfolio__content__right h3 {
    margin-top: 50px;
  }
  .Portfolio__content__right h2:after {
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
  }
  .Portfolio__content__right p {
    text-align: center;
    width: 100%;
  }
  .Portfolio__content__right .CaseStudyButton {
    position: absolute;
    bottom: 50px;
    max-width: 240px;
    width: 46%;
    left: 1vw;
    white-space: nowrap;
  }
  .Portfolio__content__right .CaseStudyButton:last-of-type {
    bottom: 50px;
    right: 1vw;
    left: unset;
  }
  .Portfolio__content__right .spacer {
    width: 50%;
    position: relative;
    display: inline-block;
  }
  .Portfolio__content__right__next,
  .Portfolio__content__right__prev {
    margin-bottom: none;
    top: 40px;
    width: 70px;
    height: 70px;
    background: url("./img/cube-solid.svg");
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
  }
  .Portfolio__content__right__next img,
  .Portfolio__content__right__prev img {
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  .Portfolio__content__right__prev img {
    -webkit-transform: translateX(-4px) rotate(180deg);
    transform: translateX(-4px) rotate(180deg);
  }
  .Portfolio__content__right__prev:hover img,
  .Portfolio__content__right__prev:focus img {
    -webkit-transform: translateX(-10px) rotate(180deg);
    transform: translateX(-10px) rotate(180deg);
  }
}

@media screen and (max-width: 600px) {
  .Portfolio__content {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .Portfolio__content__right {
    width: 100%;
    height: 400px;
    position: absolute;
    float: none;
    padding: 1vw;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 30px;
    background: url("./img/gradient.png");
    background-position: top;
    text-align: center;
  }
}

@media screen and (max-width: 510px) {
  .Portfolio__content {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .Portfolio__content__left {
    width: 100%;
  }
  .Portfolio__content__left__phone {
    width: 100%;
    height: 1090px;
    position: relative;
  }
  .Portfolio__content__left__phone:after {
    content: "";
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: url("./img/phone_frame.png");
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
  }
  .Portfolio__content__left__phone__content {
    width: 90vw;
    height: 170vw;
    position: absolute;
    left: 5vw;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #000;
  }
  .Portfolio__content__left__phone__content img {
    width: 90vw;
    height: auto;
  }
  .Portfolio__content__right {
    width: 100%;
    height: 400px;
    position: absolute;
    float: none;
    padding: 1vw;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0px;
    background: url("./img/gradient.png");
    background-position: top;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .Portfolio__content {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .Portfolio__content__right {
    position: absolute;
  }
  .Portfolio__content__right .CaseStudyButton {
    position: absolute;
    bottom: 70px;
    max-width: unset;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
    white-space: nowrap;
  }
  .Portfolio__content__right .CaseStudyButton:last-of-type {
    bottom: 10px;
    right: 0;
    left: 0;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input {
  font-size: 16px;
}

a,
a:visited,
a:hover,
a:active {
  color: unset;
  text-decoration: none;
}

.wrap {
  width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

body,
button {
  font-family: "Roboto", sans-serif;
}

p,
span,
input {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Exo", sans-serif;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-weight: 400 !important;
  font-size: 11pt;
  color: #e61f5f;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

h4 {
  color: #e61f5f;
  font-size: 18pt;
  margin-bottom: 5px;
}

.Collab__container {
  height: 1700px;
  width: 100%;
  z-index: 2;
}

.Collab__content {
  width: 100%;
  max-width: 1450px;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  padding-top: 100px;
}
.Collab__content__header {
  text-align: left;
  position: relative;
  margin-bottom: 90px;
  width: 500px;
  margin-left: 40%;
}
.Collab__content__header h1 {
  font-size: 40pt;
  position: relative;
  margin-bottom: 40px;
}
.Collab__content__header h1:after {
  content: "";
  width: 150px;
  height: 3px;
  background: #e61f5f;
  position: absolute;
  bottom: -30px;
  left: 0;
  margin: auto;
}
.Collab__content__header h3 {
  color: #e61f5f;
  letter-spacing: 5px;
  margin-bottom: 5px;
}
.Collab__content__header p {
  font-weight: 300;
  line-height: 20px;
}
.Collab__content ul li {
  width: 350px;
  height: 200px;
  padding-left: 60px;
  position: relative;
}
.Collab__content ul li h2 {
  margin-bottom: 20px;
  position: relative;
}
.Collab__content ul li h2:after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  background: url("./img/cube-solid.svg");
  background-size: 100%;
  background-position: center;
  left: -60px;
  top: -10px;
}
.Collab__content ul li p {
  font-weight: 300;
  line-height: 20px;
}
.Collab__content ul li:nth-child(1) {
  margin-left: 70%;
}
.Collab__content ul li:nth-child(2) {
  margin-left: 60%;
}
.Collab__content ul li:nth-child(3) {
  margin-left: 50%;
}
.Collab__content ul li:nth-child(4) {
  margin-left: 40%;
}
.Collab__content ul li:nth-child(5) {
  margin-left: 30%;
}
.Collab__content ul li:nth-child(6) {
  margin-left: 20%;
}

@media screen and (max-width: 1250px) {
  .Collab__content ul li {
    width: 350px;
    height: 200px;
    padding-left: 60px;
    position: relative;
  }
  .Collab__content ul li:nth-child(1) {
    margin-left: 60%;
  }
  .Collab__content ul li:nth-child(2) {
    margin-left: 50%;
  }
  .Collab__content ul li:nth-child(3) {
    margin-left: 40%;
  }
  .Collab__content ul li:nth-child(4) {
    margin-left: 30%;
  }
  .Collab__content ul li:nth-child(5) {
    margin-left: 20%;
  }
  .Collab__content ul li:nth-child(6) {
    margin-left: 10%;
  }
}

@media screen and (max-width: 900px) {
  .Collab__content__header {
    margin-left: 5%;
  }
  .Collab__content ul li {
    width: 350px;
    height: 200px;
    padding-left: 60px;
    position: relative;
  }
  .Collab__content ul li:nth-child(1) {
    margin-left: 35%;
  }
  .Collab__content ul li:nth-child(2) {
    margin-left: 30%;
  }
  .Collab__content ul li:nth-child(3) {
    margin-left: 25%;
  }
  .Collab__content ul li:nth-child(4) {
    margin-left: 20%;
  }
  .Collab__content ul li:nth-child(5) {
    margin-left: 15%;
  }
  .Collab__content ul li:nth-child(6) {
    margin-left: 10%;
  }
}

@media screen and (max-width: 550px) {
  .Collab__content__header {
    width: 90%;
    text-align: center;
    margin-left: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 50px;
  }
  .Collab__content__header h1:after {
    content: "";
    width: 50%;
    height: 3px;
    background: #e61f5f;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .Collab__content ul li {
    width: 90%;
    max-width: 350px;
    height: 200px;
    padding-left: 60px;
    position: relative;
  }
  .Collab__content ul li:nth-child(1) {
    margin-left: 5%;
  }
  .Collab__content ul li:nth-child(2) {
    margin-left: 5%;
  }
  .Collab__content ul li:nth-child(3) {
    margin-left: 5%;
  }
  .Collab__content ul li:nth-child(4) {
    margin-left: 5%;
  }
  .Collab__content ul li:nth-child(5) {
    margin-left: 5%;
  }
  .Collab__content ul li:nth-child(6) {
    margin-left: 5%;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input {
  font-size: 16px;
}

a,
a:visited,
a:hover,
a:active {
  color: unset;
  text-decoration: none;
}

.wrap {
  width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

body,
button {
  font-family: "Roboto", sans-serif;
}

p,
span,
input {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Exo", sans-serif;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-weight: 400 !important;
  font-size: 11pt;
  color: #e61f5f;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

h4 {
  color: #e61f5f;
  font-size: 18pt;
  margin-bottom: 5px;
}

.Pricing__container {
  height: 500px;
  width: 100%;
  z-index: 2;
}

.Pricing__content {
  width: 90%;
  max-width: 1450px;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
}
.Pricing__content__image {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;
  background-image: url("./img/partner_cube.png");
  position: relative;
  vertical-align: top;
}
.Pricing__content__body {
  display: inline-block;
  width: 48%;
  position: absolute;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  height: 300px;
}
.Pricing__content__body h2 {
  margin-bottom: 50px;
  position: relative;
}
.Pricing__content__body h2:after {
  content: "";
  width: 150px;
  height: 3px;
  background: #e61f5f;
  position: absolute;
  bottom: -30px;
  left: 0;
  margin: auto;
}
.Pricing__content__body p {
  margin-bottom: 30px;
  font-weight: 300;
  line-height: 20px;
}

@media screen and (max-width: 600px) {
  .Pricing__content {
    width: 90%;
  }
  .Pricing__content__image {
    display: none;
  }
  .Pricing__content__body {
    display: inline-block;
    width: 100%;
    position: absolute;
    vertical-align: middle;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    height: 300px;
    margin-top: 0px;
  }
  .Pricing__content__body h2 {
    margin-bottom: 50px;
    position: relative;
  }
  .Pricing__content__body h2:after {
    content: "";
    width: 150px;
    height: 3px;
    background: #e61f5f;
    position: absolute;
    bottom: -30px;
    left: 0;
    margin: auto;
  }
  .Pricing__content__body p {
    margin-bottom: 30px;
    font-weight: 300;
    line-height: 20px;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input {
  font-size: 16px;
}

a,
a:visited,
a:hover,
a:active {
  color: unset;
  text-decoration: none;
}

.wrap {
  width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

body,
button {
  font-family: "Roboto", sans-serif;
}

p,
span,
input {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Exo", sans-serif;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-weight: 400 !important;
  font-size: 11pt;
  color: #e61f5f;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

h4 {
  color: #e61f5f;
  font-size: 18pt;
  margin-bottom: 5px;
}

.Contact__container {
  height: 600px;
  width: 100%;
  margin-top: 200px;
}

.Contact__content {
  width: 90%;
  max-width: 1450px;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
}
.Contact__content__title h2 {
  margin-bottom: 50px;
  position: relative;
}
.Contact__content__title h2:after {
  content: "";
  width: 150px;
  height: 3px;
  background: #e61f5f;
  position: absolute;
  bottom: -30px;
  left: 0;
  margin: auto;
}
.Contact__content__body__left {
  width: 45%;
  position: relative;
  float: left;
}
.Contact__content__body__left p {
  margin-bottom: 40px;
  line-height: 22px;
  font-weight: 300;
}
.Contact__content__body__left li {
  padding-left: 30px;
  margin-bottom: 30px;
  position: relative;
}
.Contact__content__body__left li:after {
  content: "";
  left: 0;
  top: -2px;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url("./img/cube-solid.svg");
  background-size: 100%;
  background-position: center;
}
.Contact__content__body__right {
  width: 50%;
  float: left;
}
.Contact__content__body__right__form h4 {
  margin-bottom: 20px;
}
.Contact__content__body__right__form input {
  display: block;
  background: none;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
  width: 100%;
  height: 30px;
  color: #fff;
  outline: none;
}
.Contact__content__body__right__form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
}
.Contact__content__body__right__form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
}
.Contact__content__body__right__form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
}
.Contact__content__body__right__form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
}
.Contact__content__body__right__form input:hover,
.Contact__content__body__right__form input:focus {
  border-bottom: 1px solid #fff;
}
.Contact__content__body__right__form button {
  width: 150px;
  height: 50px;
  background: #e61f5f;
  border-radius: 6px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.Contact__content__body__right__form button:hover,
.Contact__content__body__right__form button:focus {
  background: #062a44;
}

@media screen and (max-width: 600px) {
  .Contact__container {
    margin-top: 20px;
    height: 1000px;
  }
  .Contact__content__title h2 {
    margin-bottom: 50px;
    position: relative;
  }
  .Contact__content__title h2:after {
    content: "";
    width: 150px;
    height: 3px;
    background: #e61f5f;
    position: absolute;
    bottom: -30px;
    left: 0;
    margin: auto;
  }
  .Contact__content__body__left {
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 50px;
  }
  .Contact__content__body__left p {
    margin-bottom: 40px;
    line-height: 22px;
    font-weight: 300;
  }
  .Contact__content__body__left li {
    padding-left: 30px;
    margin-bottom: 30px;
    position: relative;
  }
  .Contact__content__body__left li:after {
    content: "";
    left: 0;
    top: -2px;
    width: 20px;
    height: 20px;
    position: absolute;
    background: url("./img/cube-solid.svg");
    background-size: 100%;
    background-position: center;
  }
  .Contact__content__body__right {
    width: 100%;
    float: left;
  }
  .Contact__content__body__right__form h4 {
    margin-bottom: 20px;
    text-align: center;
  }
  .Contact__content__body__right__form input {
    display: block;
    background: none;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    width: 100%;
    height: 30px;
    color: #fff;
    outline: none;
  }
  .Contact__content__body__right__form input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
  }
  .Contact__content__body__right__form input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
  }
  .Contact__content__body__right__form input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
  }
  .Contact__content__body__right__form input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
  }
  .Contact__content__body__right__form input:hover,
  .Contact__content__body__right__form input:focus {
    border-bottom: 1px solid #fff;
  }
  .Contact__content__body__right__form button {
    width: 150px;
    height: 50px;
    background: #e61f5f;
    border-radius: 6px;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
  }
  .Contact__content__body__right__form button:hover,
  .Contact__content__body__right__form button:focus {
    background: #062a44;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input {
  font-size: 16px;
}

a,
a:visited,
a:hover,
a:active {
  color: unset;
  text-decoration: none;
}

.wrap {
  width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

body,
button {
  font-family: "Roboto", sans-serif;
}

p,
span,
input {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Exo", sans-serif;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-weight: 400 !important;
  font-size: 11pt;
  color: #e61f5f;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

h4 {
  color: #e61f5f;
  font-size: 18pt;
  margin-bottom: 5px;
}

.FooterSocial.--mobile {
  display: none;
}

.Footer__container {
  height: 70px;
  width: 100%;
  background: #062a44;
}

.Footer__content {
  width: 90%;
  max-width: 1450px;
  padding: 30px;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
}
.Footer__content ul {
  display: block;
}
.Footer__content li {
  float: left;
  margin-right: 20px;
}
.Footer__content p {
  vertical-align: top;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 45px;
}
.Footer__content button {
  padding: 0;
}
.Footer__content img {
  width: 50px;
  height: 50px;
  padding: 13px;
  vertical-align: middle;
  background-image: url("./img/cube-stroke-white.svg");
  background-position: center;
  background-size: 110%;
  opacity: 0.5;
}
.Footer__content img:hover {
  opacity: 1;
}

@media screen and (max-width: 970px) {
  .FooterSocial {
    display: none;
  }
  .FooterSocial.--mobile {
    display: inline-block;
    margin-top: 10px;
  }
  .Footer__container {
    height: 170px;
    width: 100%;
    background: #062a44;
  }
  .Footer__content {
    width: 99%;
    padding: 1vw;
    max-width: 1450px;
  }
  .Footer__content ul {
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    height: 80px;
  }
  .Footer__content li {
    display: inline-block;
    float: none;
    margin-right: 20px;
    text-align: center;
    line-height: 30px;
  }
  .Footer__content p {
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 45px;
    text-align: center;
    margin-top: 65px;
  }
  .Footer__content button {
    padding: 0;
  }
  .Footer__content img {
    width: 50px;
    height: 50px;
    padding: 13px;
    vertical-align: middle;
    background-image: url("./img/cube-stroke-white.svg");
    background-position: center;
    background-size: 110%;
    opacity: 0.5;
  }
  .Footer__content img:hover {
    opacity: 1;
  }
}

.career {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100wh;
  padding: 8em 0 0 0;
}
.career .wrap {
  max-width: 1600px;
  margin: 0 auto;
  height: calc(100% - 72px);
}
.career__bottomBar {
  width: 100%;
  height: auto;
  padding: 1em 2em;
  height: 5em;
  background: #e61f5f;
  clear: both;
  text-align: center;
}
.career__left {
  background: #3b3b3b;
  width: 40%;
  height: calc(100% - 10em);
  float: left;
  height: 100%;
  padding: 4em;
}
.career__right {
  width: 60%;
  padding: 4em 4em 0 4em;
  float: right;
}
.career__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}
.career__teamMate {
  -ms-flex-preferred-size: 1;
  flex-basis: 1;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 33.3333%;
  padding: 1em;
  text-align: center;
}
.career__teamMate:hover .career__teamMatePhoto::after {
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.career__teamMatePhoto {
  position: relative;
  height: 300px;
  background: white;
  margin: 0 0 1em 0;
  border-radius: 5px;
  background: url(./img/old/47.jpg);
  background-size: cover;
  background-position-x: center;
  overflow: hidden;
}
.career__teamMatePhoto:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e61f5f;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1000px) {
  .career {
    height: auto;
    max-height: none;
  }
  .career__left,
  .career__right {
    position: relative;
    width: 100%;
    height: auto;
    max-height: none;
  }
  .career__right {
    padding: 0 10vw 4em 10vw;
  }
  .career__right ul {
    float: none;
    margin: 0 0 1em 0;
  }
  .career__left {
    padding: 0 0 2em 0;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input {
  font-size: 16px;
}

a,
a:visited,
a:hover,
a:active {
  color: unset;
  text-decoration: none;
}

.wrap {
  width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

body,
button {
  font-family: "Roboto", sans-serif;
}

p,
span,
input {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Exo", sans-serif;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-weight: 400 !important;
  font-size: 11pt;
  color: #e61f5f;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

h4 {
  color: #e61f5f;
  font-size: 18pt;
  margin-bottom: 5px;
}

.FullPortfolio__container {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

.FullPortfolio__title {
  height: 150px;
  width: 100%;
  margin-top: 200px;
  text-align: center;
}

.FullPortfolio__content {
  width: 95%;
  max-width: 1450px;
  height: 80%;
  background: #062a44;
  border-radius: 24px;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 100px;
}
.FullPortfolio__content ul {
  padding: 20px;
  text-align: center;
}
.FullPortfolio__content__item {
  width: 30%;
  min-width: 350px;
  height: 380px;
  position: relative;
  margin: 1.5%;
  display: inline-block;
  vertical-align: top;
}
.FullPortfolio__content__item a {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.FullPortfolio__content__item a:hover .FullPortfolio__content__item__bg,
.FullPortfolio__content__item a:focus .FullPortfolio__content__item__bg {
  height: 98%;
  background: #13476b;
}
.FullPortfolio__content__item__bg {
  bottom: 0;
  height: 90%;
  position: absolute;
  width: 100%;
  background: #011d34;
  border-radius: 12px;
  -webkit-transition: height 0.2s, background 0.2s;
  transition: height 0.2s, background 0.2s;
}
.FullPortfolio__content__item__img {
  width: 90%;
  position: relative;
}
.FullPortfolio__content__item__icon {
  width: 60px;
  height: 60px;
  float: left;
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.FullPortfolio__content__item__text {
  width: 60%;
  position: absolute;
  bottom: 10%;
  right: 10%;
  text-align: left;
}
.FullPortfolio__content__item__text p:nth-of-type(1) {
  color: #e61f5f;
  margin-bottom: 10px;
  font-size: 14pt;
}
.FullPortfolio__content__item__text p:nth-of-type(2) {
  font-weight: 300;
}
.FullPortfolio__content__bottom {
  text-align: center;
  width: 100%;
  position: relative;
  margin-top: 80px;
  margin-bottom: 100px;
}
.FullPortfolio__content__bottom h1 {
  margin-bottom: 40px;
}

@media screen and (max-width: 410px) {
  .FullPortfolio__container {
    width: 100%;
    position: relative;
    margin-bottom: 50px;
  }
  .FullPortfolio__title {
    height: 150px;
    width: 100%;
    margin-top: 200px;
    text-align: center;
  }
  .FullPortfolio__content {
    width: 100%;
    max-width: 1450px;
    height: 80%;
    background: #062a44;
    border-radius: 24px;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 100px;
  }
  .FullPortfolio__content ul {
    padding: 1%;
    text-align: center;
    position: relative;
  }
  .FullPortfolio__content__item {
    width: 98%;
    min-width: 0px;
    height: 320px;
    position: relative;
    margin: 1.5%;
    display: inline-block;
    vertical-align: top;
  }
  .FullPortfolio__content__item__icon {
    width: 60px;
    height: 60px;
    float: left;
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
  .FullPortfolio__content__item__text {
    width: 65%;
    position: absolute;
    bottom: 5%;
    right: 5%;
    text-align: left;
  }
  .FullPortfolio__content__item__text p:nth-of-type(1) {
    color: #e61f5f;
    margin-bottom: 10px;
    font-size: 14pt;
  }
  .FullPortfolio__content__item__text p:nth-of-type(2) {
    font-weight: 300;
  }
}
